<div id="<%= dom_id post %>">
  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= post.active %>
  </p>

  <p>
    <strong>Featured:</strong>
    <%= post.featured %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= post.publish_date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

</div>
